.button {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;

  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

.button:hover:not(:disabled) {
  cursor: pointer;
}
