.board {
  box-sizing: border-box;
  width: 80vmin;
  height: 80vmin;

  min-width: 312px;
  min-height: 312px;

  padding: 0;
  margin: 0;

  border: 1px solid #555;
  border-radius: 5px;
  background-color: #555;
  box-shadow: 0px 0px 3px 1px #555;
}

.board * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.board_enabled {
  pointer-events: auto;
  opacity: 1;
}

.board_disabled {
  pointer-events: none;
  opacity: .5;
}

.board__cards-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(6, minmax(50px, 1fr));
  grid-template-rows: repeat(6, minmax(50px, 1fr));
  gap: 2px;
}