.controls {
  border: 1px solid #999;
  border-radius: 5px;

  box-sizing: border-box;
  width: 100%;
  min-height: 12vmin;
  max-width: 80vmin;
  min-width: 312px;

  padding: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-flow: row nowrap;
}

.controls__btn {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-align: center;

  display: block;
  width: 100%;

  background-color: #e6e6e6;
  border: 1px solid #999;
  border-radius: 5px;

}

.controls__btn:hover {
  background-color: rgba(230, 230, 230, .3);
}

.controls__btn + .controls__btn {
  margin: 0;
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .controls {
    flex-flow: column nowrap;
    margin-bottom: 30px;
  }

  .controls__btn {
    height: 40px;
  }

  .controls__btn + .controls__btn {
    margin: 0;
    margin-top: 10px;
  }
}
