.form-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(0, 0, 0, .3);
  position: fixed;
  top: 0px;
  left: 0px;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form, .form * {
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

.form {
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 3px 3px 7px 3px #555;

  width: 60%;
  min-width: 310px;
  max-height: 99vh;
  padding: 30px 20px;
}

.form__header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: .1rem;
  width: 100%;
  margin-bottom: 30px;
}

.form__fields {
  width: 100%;
  outline: none;
  border: none;

  display: flex;
  flex-flow: row nowrap;
}

.form__list {
  list-style-type: none;
  border: 1px solid #999;
  border-radius: 5px;
  width: 100%;
}

.form__list-item {
  display: flex;
  flex-flow: row nowrap;
}

.form__empty {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.form__item {
  font-size: 1.2rem;
  outline: none;
  width: 100%;
  padding: 5px 10px;
}

.form_item + .form__item {
  margin: 0;
  margin-left: 10px;
}

.form__item_name {
  flex: 1 0 70%;
}

.form__item_time {
  text-align: center;
}

.form__btn-submit {
  font-size: 1.2rem;
  text-align: center;
  background-color: #e6e6e6;
  border: 1px solid #777;
  border-radius: 3px;

  width: 40%;
  height: 40px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 30px;
}

.form__btn-submit:hover:not(:disabled) {
  background-color: rgba(230, 230, 230, .3);
}

.form__btn-submit:disabled {
  opacity: .5;
}

@media screen and (max-width: 650px) {
  .form {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .form {
    padding: 20px 10px;
  }

  .form__item {
    padding: 3px;
  }
}
